* {
  background-color: #292929 !important;
  color: #FFFFFF !important;
}
button {
    background-color: rgba(255,255,255,.2) !important;
}
button:hover {
    background-color: rgba(255,255,255,.4) !important;
}
input{
    border-color: #424242 !important;
    background-color: rgba(0,0,0,.2) !important;
}
