
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Rounded user avatars
- Buttons
- Brand Styles

*/


/* Rounded avatars
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Disable this if you don't want rounded avatars for users */
.rounded-avatar {
  border-radius: 50%;
}

.social-icon {
  font-size: 32px;
  padding: 10px;
}
.social-icon-div {
  padding-bottom: 30px;
}
.social-icon{color:#fff;}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  width: 300px;
  height: 48px;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  font-family: 'Teko', sans-serif;
  line-height: 48px;
  background: linear-gradient(90deg, #009ccc, #db091b, #ce2457, #009ccc);
  background-size: 400%;
  margin: auto;
  display: inline-block;
  color: #fff !important;
  border-radius: 8px;
  white-space: wrap;
  position: relative;
  cursor: pointer;

  animation: glowing 45s linear infinite;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.button:after {
  content: " ";
  position: absolute;
  border-radius: inherit;
  left: -6px;
  right: -6px;
  bottom: -6px;
  top: -6px;
  background: inherit;
  background-size: inherit;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
  filter: blur(16px);
  animation: glowing 7s linear infinite;
  transform: translateZ(0);
}
.button:hover:after {
  opacity: 1;
}

.button-entrance {
  padding-top: 5px;
  padding-bottom: 5px;
}

@keyframes glowing {
  100% {
    background-position: -400%;
  }
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

