<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Restrict access to critical files
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>
<Files ~ "\.sqlite$">
    Order allow,deny
    Deny from all
</Files>
<Files ~ "\.zip$">
    Order allow,deny
    Deny from all
</Files>
<Files ~ "\.log$">
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Block access to .env files
    RewriteRule ^.*\.env$ - [F,L]

    # Block access to SQLite database files
    RewriteRule ^.*\.sqlite$ - [F,L]

    # Block access to ZIP files
    RewriteRule ^.*\.zip$ - [F,L]

    # Block access to LOG files
    RewriteRule ^.*\.log$ - [F,L]
</IfModule>
