
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Rounded user avatars
- Buttons
- Brand Styles

*/


/* Rounded avatars
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Disable this if you don't want rounded avatars for users */
.rounded-avatar {
  border-radius: 50%;
  position: relative;
  width: auto !important;
  height: 96px !important;
  display: block;
  margin: 40px auto 20px;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}

.social-icon {
  font-size: 20px;
  padding: 5px;
}
.social-icon-div {
  padding-bottom: 25px;
}
.social-icon{color:#fff;}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --bgColor: #0F2034;
  --bgColor2: #0C1B2E;
  --accentColor: #131931;
  --textColor: #ffffff;
  --font: 'Karla', sans-serif;
  --font2: 'Noto Sans Mono', monospace;

  --delay: .3s;
  --heading: #C0C0C0;
}

.button {
  position: relative;
  height: 23px;
  background-color:var(--accentColor);
  color: var(--textColor);
  border: solid var(--accentColor) 2px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px; /* 17px */
  text-decoration: none;
  /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .buttonhover {
      background-color: var(--accentColor);
      color: #1BD0D9;
  }
}

.button:active {
  border: solid #fff 2px;
}


/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* .button:hover .icon {
  -webkit-filter: invert(100%) grayscale(100%);
  -moz-filter: invert(100%) grayscale(100%);
  filter: invert(100%) grayscale(100%);
} */