/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Entrance animations
- Button hover animations
- Icon hover animations
- Footer hover animations

*/



/* Entrance animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.fadein, .button-entrance {
    animation-name: fadein;
    animation-duration: 3s;
    animation-fill-mode: both;
  }

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Button hover animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* (Also apply to icon) */

.button-hover, .credit-hover{
    display:inline-block;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    -webkit-transition-duration:.3s;
    transition-duration:.3s;
    -webkit-transition-property:transform;
    transition-property:transform
}
.credit-hover:active, 
.credit-hover:focus, 
.credit-hover:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1)
}


/* Icon hover animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon-hover{
    display:inline-block;
}


/* Footer hover animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer-hover{
    display:inline-block;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    -webkit-transition-duration:.3s;
    transition-duration:.3s;
    -webkit-transition-property:transform;
    transition-property:transform;
    -webkit-transition-timing-function:ease-out;
    transition-timing-function:ease-out
}
.footer-hover:active,.footer-hover:focus,.footer-hover:hover{
    -webkit-transform:translateY(-8px);
    transform:translateY(-8px)
}
