.share-icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  filter: invert(100%);
}

.sharediv {
  position:relative; 
  top: 30px; 
  right: 30px; 
  padding-bottom: 40px;
}

.sharebutton,
sharebutton {

  webkit-box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
  background: #999 url('https://i48.servimg.com/u/f48/18/06/99/75/bgbtn10.png');
  background-size: cover;
  background-position: center;
  color: #DDD;
  text-align: center;
  font-size: 20px;
  cursor: context-menu;
  image-rendering: pixelated;
  margin-bottom: 10px;
  max-width: 25px;
  padding: 10px;
  border: 3px solid #000;
 }
sharebutton:hover,
.sharebutton:hover {
  background-color: rgba(100, 100, 255, .45);
  height: 100%;
  width: 100%;
  z-index: 5;
  border: 3px solid #ffffff !important;
}
.sharebutton-mb {
  display: none;
}