
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Grid
- Base Styles
- Typography
- Links
- Code
- Spacing
- Utilities
- Misc
- Credit footer

*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box; }
  .column {
    position: center;
    width: 100%;
    float: center;
    box-sizing: border-box; }
  
  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; }
  }
  
  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .container {
      width: 80%; }
    .column,
    .columns {
      margin-left: 0; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }
  
  }
  
  
  /* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */
  
@font-face{font-family:'mctit';src:url(https://raw.githubusercontent.com/JulianPrieber/minceraft/main/mctitle.ttf)}
@font-face{font-family:'mctxt';src:url(https://raw.githubusercontent.com/JulianPrieber/minceraft/main/mctxt.ttf)}

  html {
    font-size: 100%; }

      body {
        font-size: 18px;
        line-height: 24px;
        background: #F1F1F1;
        font-family: "mctxt", sans-serif;
        letter-spacing: 0.1em;
        color: #ffffff;
      }

        @keyframes background-image-animation {
          0% {background-position: 0 0;}
          100% {background-position: -4096px 0;}
        }

        .parallax-background {
          position: fixed; 
          top: 0; 
          left: 0; 
          width: 100%; 
          height: 100%;
          will-change: transform;
          animation: background-image-animation 250s linear infinite;
          transform: translateX(0) scale(1.1);
          background: url('https://raw.githubusercontent.com/JulianPrieber/minceraft/main/background.jpg') repeat-x center center;
          background-size: cover;
          filter: brightness(60%) blur(3px) grayscale(10%);;
        }
        
        @keyframes background-image-animation {
          0% {background-position: 0 0;}
          100% {background-position: -4096px 0;}
        }
  
  /* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  h1 {
    margin-top: 0;
    margin-bottom: 16px;
    letter-spacing: 0.1em;
    color: #ADA3A0;
    font-family: "mctit", sans-serif;
    font-size: 48px; 
    line-height: 96px;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(300px) rotateX(15deg);
    -moz-transform: perspective(300px) rotateX(15deg);
    -ms-transform: perspective(300px) rotateX(15deg);
    -o-transform: perspective(300px) rotateX(15deg);
    transform: perspective(300px) rotateX(15deg);

    text-shadow: 1px 1px 1px #2A292B,
        1px 2px 1px #2A292B,
        1px 3px 1px #2A292B,
        1px 4px 1px #2A292B,
        1px 5px 1px #2A292B,
        1px 6px 1px #2A292B,
        1px 7px 1px #2A292B,
        1px 8px 1px #2A292B,
        1px 9px 1px #2A292B,
        1px 10px 1px #2A292B,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  }
  
  p {
    margin-top: 0;  
    text-shadow: 1px 1px 0px #a5a5a5;
  }
  
  
  /* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  a {
    color: #ffffff; 
    text-decoration: none;
    text-shadow: 1px 1px 0px #a5a5a5;
  }
  a:hover {
    color: #0085FF; }
  
  .spacing {
    padding: 0 10px;
    padding-top: 50px;
  }
  
  /* Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px; }
  pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre; }
  
  /* Spacing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  button,
  .button {
    margin-bottom: 1rem; }
  input,
  textarea,
  select,
  fieldset {
    margin-bottom: 1.5rem; }
  pre,
  blockquote,
  dl,
  figure,
  p,
  ol {
    margin-bottom: 2.5rem; }
  
  
  /* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .u-full-width {
    width: 100%;
    box-sizing: border-box; }
  .u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
  .u-pull-right {
    float: right; }
  .u-pull-left {
    float: left; }
  
  
  /* Misc
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1; }
  
    @media (prefers-color-scheme: dark) {
  /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
      scrollbar-width: thin;
      scrollbar-color: #171a1d #31363b;
    }
  
    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 8px;
    }
  
    *::-webkit-scrollbar-track {
      background: #31363b;
    }
  
    *::-webkit-scrollbar-thumb {
      background-color: #171a1d;
      border-radius: 30px;
      border: 3px none #ffffff;
    }
   
  }
    
    @media (prefers-color-scheme: light) {
  /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
      scrollbar-width: thin;
      scrollbar-color: #323232 #dbdbdb;
    }
  
    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 8px;
    }
  
    *::-webkit-scrollbar-track {
      background: #dbdbdb;
    }
  
    *::-webkit-scrollbar-thumb {
      background-color: #323232;
      border-radius: 30px;
      border: 3px none #ffffff;
    }
  
  }
  
/* Credit footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Styling for credit footer text */
.credit-txt {
  font-size: 15px;
  text-decoration: none;
}

.credit-icon {
  display: none; }
.credit-footer {
  position: relative;
  right: 18px; }

/* Switches text color for credit footer for dark/light mode */
@media (prefers-color-scheme: dark) {
  .credit-txt-clr{
      color: #FFF !important;
  }
}
@media (prefers-color-scheme: light) {
  .credit-txt-clr{
      color: #100a26 !important;
  }
}
