.share-icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  color: #000 !important; 
  width: 20px;
  height: 20px;
}

.sharediv {
  position:relative; 
  top: 30px; 
  right: 30px; 
  padding-bottom: 40px;
}

.toastdiv {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.toastbox {
  width: 280px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 4px;
  position: fixed;
  top: 105%;
  -webkit-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  z-index: 2;
  text-align: center;
}
.toastbox.toast-tox--active {
  -webkit-transform: translateY(-150px);
  transform: translateY(-150px);
}

  @media screen and (max-width: 600px) {
    .sharebutton-mb {
     display: none;
    }
    .sharebutton-img {
      position: relative;
      left: 3px;
      margin-left: auto;
      margin-right: auto;
     }
   }