
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Grid
- Base Styles
- Background
- Typography
- Links
- Code
- Spacing
- Utilities
- Misc
- Credit footer

*/


@import url('https://fonts.bunny.net/css?family=Roboto:400,700&display=swap');


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box; }
  .column {
    position: center;
    width: 100%;
    float: center;
    box-sizing: border-box; }
  
  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; }
  }
  
  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .container {
      width: 80%; }
    .column,
    .columns {
      margin-left: 0; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }
  
  }
  
  
  /* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */

  html {
    font-size: 100%; }

  :root {
    --bgColor: #f51919;
    --bgColor2: #1119f1;
    --accentColor2: #881980;
    --accentColor: #FFF;
    --font: 'Roboto', sans-serif;
    --delay: .3s; }

  /* Background
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font);
    background: linear-gradient(45deg, var(--bgColor) 0%, var(--bgColor2) 100%);
    opacity: 0;
    animation: 1s ease-out var(--delay) 1 transitionAnimation; /* duration/timing-function/delay/iterations/name */
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
  }

  
  /* Animation */
  @keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
  
  /* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  h1 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 400; }
  h1 { font-size:24px; line-height: 64px; letter-spacing: 0;}
  
  
  /* Larger than phablet */
  @media (min-width: 350px) {
    h1 { font-size: 48px; line-height: 96px;}
  }
  
  p {
    margin-top: 16px; }
  
  
  /* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  a {
    color: #ffffff; 
    text-decoration: none;
  }
  a:hover {
    color: #f5af19; }
  
  .spacing {
    padding: 0 10px;
    padding-top: 50px;
  }
  
  /* Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px; }
  pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre; }
  
  /* Spacing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  button,
  .button {
    margin-bottom: 1rem;
    display: block !important; }
  input,
  textarea,
  select,
  fieldset {
    margin-bottom: 1.5rem; }
  pre,
  blockquote,
  dl,
  figure,
  p,
  ol {
    margin-bottom: 2.5rem; }
  
  
  /* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .u-full-width {
    width: 100%;
    box-sizing: border-box; }
  .u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
  .u-pull-right {
    float: right; }
  .u-pull-left {
    float: left; }
  
  
  /* Misc
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1; }
  

  /* ===== Hidden Scrollbar ===== */
  * {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */ }
  *::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */ }
  
    
/* Credit footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Styling for credit footer text */
.credit-txt {
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}

.credit-icon {
  display: none;
  right: 5px;
}
.credit-footer {
  position: relative;
  right: 15px;
}

/* Switches text color for credit footer for dark/light mode */

 .credit-txt-clr{
     color: #FFF !important;
}


